@charset "utf-8";

/*all*/
* {    /*전체 설정*/
    margin:0;            /*전체 여백 없앰*/            
    padding:0;           /*전체 여백 없앰*/
    list-style:none;     /*ul li태그 앞에 서식 없애기*/
}
a {    /*a 태그 설정*/
    color:inherit;            /*하이퍼링크 색상 없애기*/
    text-decoration:none;     /*하이퍼링크 밑줄 없애기*/
}

/*wrap*/
#wrap {
    width:1200px;
    height:700px;
    margin:0 auto;        /*중앙정렬*/
}

/*header*/
/*top_logo*/
header {
    width:1200px;
    height:100px;
    position:relative;        /*유형3 뒤에 배경만들기 위한 포지션*/
}
.top_logo {
    width:200px;
    height:100px;
    float:left;
    background-color:orange;
}

/*nav*/
.nav {
    width:1000px;
    height:100px;
    float:right;
    background-color:orangered;
}
.nav>ul {
    float:right;            /*nav안에 값들 오른쪽으로 밀기*/
    margin-top:50px;        /*위에서 여백*/
    margin-right:50px;      /*오른쪽 여백*/
}
.nav>ul>li {
    float:left;            /*리스트 가로 정렬 (세로->가로)*/
}
.nav>ul>li>a {
    width:200px;            /*리스트 가로크기*/
    height:50px;            /*리스트 세로크기*/
    line-height:50px;       /*세로값이랑 같이 하면 세로중앙정렬*/ 
    text-align:center;      /*문자 중앙정렬*/
    display:block;          /*위에 값들 블락스타일로 지정해주기*/
    background-color:#8484ef;
    color:white;
    transition:0.5s;        /*마우스 올렸을때 색상 변경되는 시간, 좀더 부드럽게 꾸며줌, 없어도 됩니다*/
}
.nav>ul>li>a:hover {
    background-color:#b6b6fd;    /*마우스 올렸을시 색변경*/
}
.submenu {
    display:none;           /*제이쿼리로 나타내기 위하여 css로 submenu들을 일단 숨겨줌*/
}
.submenu li {}
.submenu li a {
    width:200px;
    height:50px;
    line-height:50px;
    text-align:center;
    display:block;
    background-color:#c8a7e6;
    color:white;
}
.submenu li a:hover {
    background-color:#cbb3e0;
}
/*imgslide*/
#imgslide {
    width:1200px;
    height:300px;
    background-color:#bbb
}
/*contents*/
#contents {
    width:1200px;
    height:200px;
    background-color:#ccc
}
/*footer*/
footer {
    width:1200px;
    height:100px;
    background-color:#ddd;
}



/*가로 2번째 유형 (한번에 메뉴 다 내려오기*/
#wrap2 {
    width:1200px;
    height:700px;
    margin:0 auto;
    margin-top:100px;
}
/*nav*/
.nav2 {
    width:1000px;
    height:100px;
    float:right;
    background-color:orangered;
}
.nav2>ul {
    float:right;
    margin-top:50px;
    margin-right:50px;
}
.nav2>ul>li {
    float:left;
}
.nav2>ul>li>a {
    width:200px;
    height:50px;
    line-height:50px;
    text-align:center;
    display:block;
    background:#8484ef;
    color:white;
}
.nav2>ul>li>a:hover {
    background-color:#b6b6fd;
}
.submenu2 {display:none;}
.submenu2 li {}
.submenu2 li a {
    width:200px;
    height:50px;
    line-height:50px;
    text-align:center;
    display:block;
    background:#c8a7e6;
    color:white;
}
.submenu2 li a:hover {
    background-color:#cbb3e0;
}




/*가로3번째유형 한번에다+뒤에배경까지 같이 내려오기*/
#wrap3 {
    width:1200px;
    height:700px;
    margin:0 auto;
    margin-top:100px;
}
.nav3 {
    width:1000px;
    height:100px;
    float:right;
    background-color:orangered;
}
.nav3>ul {
    float:right;
    margin-top:50px;
    margin-right:50px;
}
.nav3>ul>li {
    float:left;
}
.nav3>ul>li>a {
    width:200px;
    height:50px;
    line-height:50px;
    text-align:center;
    display:block;
    background:#8484ef;
    color:white;
}
.nav3>ul>li>a:hover {
    background-color:#b6b6fd;
}
.submenu3 {
    display:none;
    position:relative;        /*밑에 z-index를 적용시키기 위함*/
    z-index:10;               /*숫자가 높을수록 위로 올라옴 여기서는 .bg보다 높아야지 위에 나타남*/
}
.submenu3 li {}
.submenu3 li a {
    width:200px;
    height:50px;
    line-height:50px;
    text-align:center;
    display:block;
    background:#c8a7e6;
    color:white;
}
.submenu3 li a:hover {
    background-color:#cbb3e0;
}
.bg {
    width:1200px;
    height:200px;
    position:absolute;
    top:100px;
    left:0;
    background:#c8a7e6;
    z-index:9;
    display:none;
}

