@charset "utf-8";
* {
    margin:0;
    padding: 0;
    list-style:none;
}
a {
    color:inherit;
    text-decoration: none;
}
#wrap {
    width: 1920px;
    height: 1095px;
    margin:0 auto;
}
/*layout*/
header {
    width:100%;
    height: 100px;
    background: #aaa;
}
#contents {
    width: 100%;
    height: 200px;
    background: #ccc;
}
footer {
    width: 100%;
    height: 100px;
    background: #ddd;
}



/*이미지 슬라이드 좌우 슬라이드*/
#imgslide {
    width: 100%;
    height: 1080px;
    background: #bbb;
    position: relative;    /*이미지들 상속시키기위한 포지션*/
    overflow: hidden;    /*넘치는 사진들 숨기기*/
}
#imgslide a{
    position: absolute;    /*위에 relative에 사진들을 상속시키기 위함*/
    top: 0;    /*위 relative 사이즈(width:1200px, height:300px) 탑:0 위치에 배치*/    
    left: 0;    /*위 relative 사이즈(width:1200px, height:300px) 왼쪽:0 위치에 배치*/    
}
#imgslide span{    /*이미지랑 같이 넘어가는 글씨 꾸미기*/
    width: 400px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: #fff;
    background:rgba(100,100,100,0.7);
    position: absolute;    /*위에 #imgslide a {absolute}에 상속*/
    top: 50%;        /*위 사진 중심으로 위에서 50%*/
    left: 50%;        /*위 사진 중심으로 왼쪽에서 50%*/
    transform: translate(-50%,-50%); /*중앙정렬*/
    border-radius:30px;    /*사각형 둥글게 만들*/
    font-size: 30px;
}




/*이미지 슬라이드 밑에서 위로 or 위에서 밑으로*/
#wrap2 {
    width: 1200px;
    height: 700px;
    margin: 0px auto;
    margin-top:100px;
}
#imgslide2 {
    width: 100%;
    height: 300px;
    background: #bbb;
    position: relative;
    overflow: hidden;
}
#imgslide2 a {
    position: absolute;
    top: 0;
    left: 0;
}
#imgslide2 span {
    width: 400px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: #fff;
    background:rgba(100,100,100,0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius:30px;
    font-size: 30px;
}


/*페이드 인/아웃*/
#wrap3 {
    width: 1200px;
    height: 700px;
    margin:0 auto;
    margin-top:100px;
}
#imgslide3 {
    width: 100%;
    height: 300px;
    background: #bbb;
    position: relative;
    overflow: hidden;
}

#imgslide3 a {
    position: absolute;
    top: 0;
    left: 0;
}
#imgslide3 span {
    width: 400px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: #fff;
    background:rgba(100,100,100,0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius:30px;
    font-size: 30px;
}